<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
			providerName="System.Data.SqlClient" />
		<add name="SQL" connectionString="data source=DESKTOP-RP76UEH\SQLEXPRESS;Initial Catalog=NominaEmpresas;User ID=user;Password=pass"
			providerName="System.Data.SqlClient" />
		<add name="desarrollo" connectionString="data source=DESKTOP-RP76UEH\SQLEXPRESS;Initial Catalog=NominaEmpresas;persist security info=True;Integrated Security=SSPI"
			providerName="System.Data.SqlClient" />
		<add name="RHNom" connectionString="data source=RHNomina;Initial Catalog=RHCorporativoDB;User ID=Repl_RHTmp;Password=internom"
			providerName="System.Data.SqlClient" />
		<add name="ejemploPF_MAD.My.MySettings.estructura_MADConnectionString"
			connectionString="Data Source=DESKTOP-ND95OCA\SQLEXPRESS;Initial Catalog=estructura_MAD;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="BD" value="CASSANDRA"/>
		<add key="UserNom" value="intra"/>
		<add key="PassNom" value="intra"/>
		<add key="ServerNom" value="SrvNomina"/>
		<add key="DataBaseNom" value="Eslabon"/>
	</appSettings>
</configuration>
	
